.main-button {
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #373737;
    background: #373737;
    border-radius: 8px;
    margin-right: 7px;
}

.main-button:hover {
    background: #505050;
    border-color: #505050;
}

.inside-button {
    background: None;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.button-text {
    font-size: 20px;
    padding: 5px;
    background: none;
}

.material-icons {
    background: None;
    font-size: 30px;
}

img {
    height: 27px;
    width: 27px;
    background: None;
    align-items: center;
    justify-content: center;
}