@media screen and (min-width: 1220px) {
    .header-data {
        position: absolute;
        padding: 120px 70px;
        display: flex;
        text-align: left;
    }

    h1 {
        margin-left: 10px;
    }

    .poem-list {
        position: absolute;
        padding: 0 45px 0 120px;
        list-style-type: none;
        flex-direction: column;
        transform: translateY(-50%);
        top: 50%;
        border-right: 1px solid #808080;
    }

    .back-button {
        position: relative;
        .material-icons {
            font-size: 40px;
        }
    }

    .back-button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 3px 5px;
        border-radius: 100%;
        z-index: -1;
        opacity: 0;
    }

    .back-button:hover::before {
        opacity: 1;
        background: #373737;
    }

    .button-option {
        font-size: 30px;
        position: relative;
        overflow: hidden;
    }

    .button-option::before,
    .button-option-active::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        box-sizing: border-box;
        border: #373737 solid;
    }

    .button-option:hover::before,
    .button-option-active {
        opacity: 1;
        background: #373737;
        border-radius: 10px;
    }


    .info{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        right: 25%;
        transform: translateY(-50%);
        align-items: center;


        .material-icons {
            color: #747474;
            font-size: 400px;
        }

        h1 {
            color: #747474;
            font-size: 50px;
        }

        h2 {
            color: #747474;
        }
    }

    .poem {
        padding-right: 30px;
        overflow-y: auto;
        max-height: 80vh;
        position: absolute;
        top: 50%;
        right: 30%;
        transform: translateY(-50%);

        .poem-head {
            display: flex;
            align-items: center;
            background: #212223;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .poem-head h1 {
            font-size: 50px;
        }

        .poem-head h3{
            padding-top: 20px;
            padding-left: 10px;
            color: #747474;
            font-size: 30px;
        }

        p {
            font-size: 30px;
        }
    }
}