@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  background: None;
  font-family: "PT Sans", sans-serif;
  color: #e0e0e0;
  border: 0;
  margin: 0;
}

body {
  background: #212223;
}

@media screen and (min-width: 1000px) {
  .about {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .avatar {
    grid-column: 1;
    grid-row: 1 / 3;
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text {
    padding-left: 63px;
    padding-top: 20px;
    grid-column: 2;
    grid-row: 1;
  }

  .text h1 {
    margin-left: -1px;
    font-size: 55px;
  }

  .description {
    font-size: 25px;
  }

  .button-container {
    padding-left: 63px;
    grid-column: 2;
    grid-row: 2;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .main-button:hover {
    cursor: pointer;
  }

  .row {
    display: flex;
    gap: 5px;
  }
}

@media screen and (max-width: 999px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .avatar {
    width: 250px;
    height: 250px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text {
    padding-top: 20px;
    text-align: center;
  }

  .text h1 {
    font-size: 50px;
  }

  .description {
    font-size: 20px;
  }

  .button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: center;
  }

  .row {
    display: flex;
    gap: 5px;
  }
}

@media screen and (max-width: 400px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .avatar {
    width: 200px;
    height: 200px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text {
    padding-top: 20px;
    text-align: center;
  }

  .text h1 {
    font-size: 40px;
  }

  .description {
    font-size: 15px;
  }

  .button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: center;
  }

  .row {
    display: flex;
    gap: 5px;
  }
}
