@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  background: #212223;
  font-family: "PT Sans", sans-serif;
  color: #e0e0e0;
  border: 0;
  margin: 0;
}

.about {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar {
  width: 350px;
  height: 350px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
  padding-left: 63px;
  padding-top: 20px;
}

.text h1 {
  font-size: 55px;
}

.description {
  font-size: 25px;
}

.button-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.main-button:hover {
  cursor: pointer;
}

.row {
  display: flex;
  gap: 5px;
}
